// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Custom
$happydentss_skblue: #02aa9d;
$happydentss_white: #f8f9fa;
$transparent_white: rgba(255, 255, 255, 0.7);
